<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <script src="src/jquery-3.2.1.js"></script>
    <script src="src/advert.js"></script>
    <script src="src/list.js"></script>
    <script src="src/interface.js"></script> -->
    <title>Makersbnb</title>
  </head>
  <body>
    <h1>Find homes on Makers BnB</h1>
    <h2>Discover entire homes and private rooms perfect for any trip.</h2>

    <!-- <input type="text" name="advertName" class="advertName">
    <button type="button" value="addAdvert" class="addAdvert">Add advert</button>

    <button type="button" value="bookAdvert" class="bookAdvert">Book</button> -->

    <form action="/new-advert" method="POST">
      <input type="text" name ="advertName">
      <button type="submit">Post advert</button>
    </form>

    <ul class="advertList">
      <% adverts.forEach(function(advert) { %>
        <li><%= advert.name %> - <%= advert.booked %>
          <form action="/book" method="POST">
            <button type="submit" name="bookBtn" value="<%= advert._id %>">Book</button>
          </form>
        </li>

        <% }) %>
    </ul>

  </body>
</html>
