body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

div.home-page {
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  background: linear-gradient(#FF5A5F, #f93949, #f93e44);
}

div.nav-bar {
  height: 70px;
  background-color: white;
  position: fixed;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0px;
}

img.logo {
  height: 70px;
  width: 70px;
  margin-right: 280px
}

form.nav-btn {
  padding: 10px;
  height: 80px
}

button.logIn, .signUp, .logOut, .host, .book {
  padding: 7px 20px 7px 20px;
  color: white;
  background-color: #FF5A5F;
  border: solid 2px white;
  border-radius: 15px;
  font-size: 13px;
}

button.host {
  margin-bottom: 30px;
  font-size: 19px;
  width: 200px;
  background-color: #fc415d
}

button.book {
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  color: #fc415d;
  background-color: white;
  border: solid 2px #fc415d
}

button.logIn:hover, .signUp:hover, .logOut:hover, .host:hover, .book:hover{
  color: #FF5A5F;
  float: center;
  background-color: white;
  border: solid 3px #FF5A5F;
  box-shadow:
	0 0 0 6px white;
  border-radius: 30px
}

div.container {
  text-align: center
}

input.signUp {
  justify-content: center;
  flex-grow: 1
}

h1 {
  height: 500px;
  padding-top: 130px;
  font-size: 50px;
  justify-content: center;
  color: white;
  text-shadow: 1px 0px 40px #d1000a;
}

div.signUpFormContainer {
  display:flex;
  align-items: column;
}

form.signUpForm {
  display:flex;
  flex-direction: column;
  height: 200px;
  padding-top: 130px;
  font-size: 50px;
  justify-content: center;
  color: white;
  text-shadow: 1px 0px 40px #d1000a;
}

h2 {
  flex: start;
  display: flex;
  justify-content: end;
  margin-left: 60px;
  margin-right: 320px;
  padding: 0px;
  color: #FF5A5F
}

div.formLabel {
  font-size: 17px
}

ul.advertList {
  display: flex;
  flex-wrap: wrap;
}
li.listing {
  display: flex;
  height: 100px;
  max-width: 200Px;
  margin: 50px;
	display: flex;
  padding: 20px;
	width: 100%;
  border-radius: 15px;
  border: solid 3px  green
}

li.booked-listing {
  display: flex;
  height: 100px;
  max-width: 200Px;
  margin: 50px;
	display: flex;
  padding: 20px;
	width: 100%;
  border-radius: 15px;
  border: solid 3px  red
}

li.listing:hover {
  background-color: #E2FFEB
}

li.booked-listing:hover {
  background-color: #fff2f2
}

form.listing {
  text-align: center;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
@media all and (min-width: 40em) {
  li.list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  li.list-item {
    width: 33.33%;
  }
}

div.list-container {
  display: flex;
  flex-direction: row;
  justify-content: center
}

div.name {
  font-size: 20px;
  margin-right: auto;
}

div.description {
  flex: 3;
  font-size: 15px;
  margin-right: auto;
}

div.availability {
  display: flex;
  flex-direction: row
}

div.space {
  flex: 3;
  width: 100px
}
