<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/advert.js"></script>
    <script src="js/list.js"></script>
    <script src="js/interface.js"></script>
    <title>Makersbnb</title>
  </head>
  <body>
