<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    New User
    <form action="/users/new" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value="name" placeholder="Name">
      <label for="userName">Username</label>
      <input type="text" name="username" value="username" placeholder="username">
      <label for="password">Password</label>
      <input type="password" name="password" value="">
      <label for="passwordComfirmation">Password Confirmation</label>
      <input type="password" name="passwordComfirmation" value="">
      <input type="submit" value="submit" name="Submit">
    </form>
  </body>
</html>
