<%= include partials/header %>
    <h1>Find homes on Makers BnB</h1>
    <h2>Discover entire homes and private rooms perfect for any trip.</h2>

    <input type="text" name="advertName" class="advertName">
    <button type="button" value="addAdvert" class="addAdvert">Add advert</button>

    <button type="button" value="bookAdvert" class="bookAdvert">Book</button>

    <ul class="advertList">
    </ul>

    <form action="/users/new" method="get">
      <button type="submit" value="signUp" class="signUp">Sign Up</button>
    </form>

    <%= include partials/footer %>
