<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="jquery-3.2.1.js"></script>
    <script src="advert.js"></script>
    <script src="list.js"></script>
    <script src="interface.js"></script>
    <title>Makersbnb</title>
  </head>
  <body>

    <h1>Find homes on Makers BnB</h1>
    <h2>Discover entire homes and private rooms perfect for any trip.</h2>

    <input type="text" name="advertName" class="advertName">
    <button type="button" value="addAdvert" class="addAdvert">Add advert</button>

    <button type="button" value="bookAdvert" class="bookAdvert">Book</button>

    <ul class="advertList">
    </ul>

    <form action="/users/new" method="get">
      <button type="submit" value="signUp" class="signUp">Sign Up</button>
    </form>

    <form action="/sessions/new" method="get">
      <button type="submit" value="logIn" class="logIn">Log in</button>
    </form>

    <form action="/sessions?_method=DELETE" method="post">
      <button type="submit" value="logOut" class="logOut">Log Out</button>
    </form>

  </body>
  </head>
